---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Post } from "../../lib/contentful";

import { Debug } from "astro:components";

const entries = await contentfulClient.getEntries<Post>({
  content_type: "post",
});

const pages = entries.items.map((item) => ({
  params: { slug: item.fields.slug },
  props: {
    title: item.fields.title,
    body: documentToHtmlString(item.fields.body),
    publishDate: new Date(item.fields.publishDate).toLocaleDateString(),
  },
}));

// export async function getStaticPaths() {
//   const entries = await contentfulClient.getEntries<Post>({
//     content_type: "post",
//   });

//   const pages = entries.items.map((item) => ({
//     params: { slug: item.fields.slug },
//     props: {
//       title: item.fields.title,
//       body: documentToHtmlString(item.fields.body),
//       publishDate: new Date(item.fields.publishDate).toLocaleDateString(),
//     },
//   }));
//   return pages;
// }

const { slug } = Astro.params;
const page = pages.find((page) => page.params.slug === slug);
if (!page) return Astro.redirect("/404");
const { title, publishDate, body } = page.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <time>{publishDate}</time>
    <article set:html={body} />
  </body>
</html>
