---
import Layout from "../../layouts/Page.astro";

import Posts from "../partials/posts.astro";

---

<Layout>
  <h2>Contentful Posts:</h2>

  <Posts />
  <!-- {
          postsContentful && (
            <ul>
              {postsContentful.map((post) => (
                <li>
                  Title:{post.title}, Date: {post.publishDate}, Slug:{" "}
                  {post.slug}
                </li>
              ))}
            </ul>
          )
        } -->
</Layout>
