---
import { postsContentful } from "../../components/postsContentful";
import PostsContentful from "../../components/PostsContentful.astro";

export const partial = true;

const page = +(Astro.url.searchParams.get("page") || 1);
---

<div class="italic mb-5">
  Users: Page > {page}
</div>
<PostsContentful
  postsContentful={postsContentful.slice((page - 1) * 2, page * 2)}
/>
