---
import { css } from "../../styled-system/css";

const { currentPage, totalPages } = Astro.props;

const createPaginationArray = (total: number) =>
  Array.from({ length: total }, (_, i) => i + 1);

const pages = createPaginationArray(totalPages);

const buttonBase = css({
  mx: "1",
  px: "3",
  py: "2",
  bg: "gray",
  rounded: "md",
  cursor: "pointer",
  _hover: { bg: "darkgray" },
});

const buttonActive = css({
  bg: "blue",
  color: "white",
});
---

<nav aria-label="Pagination" id="pagination-nav">
  {
    pages.map((page) => (
      <a
        href={`/?page=${page}`}
        class:list={[buttonBase, page === currentPage ? buttonActive : ""]}
        data-page={page}
        data-active-class={buttonActive}
        hx-boost="true"
        hx-target="#post-contents"
        hx-select="#post-contents"
        hx-swap="innerHTML"
        hx-trigger="click"
      >
        {page}
      </a>
    ))
  }
</nav>

<script>
  document.addEventListener('htmx:afterSwap', function(event) {
    const customEvent = event as CustomEvent;
    if (customEvent.detail.target.id === 'post-contents') {
      const currentPage = new URLSearchParams(window.location.search).get('page') || '1';
      const paginationLinks = document.querySelectorAll('#pagination-nav a');
      paginationLinks.forEach(link => {
        const activeClass = link.getAttribute('data-active-class');
        if (activeClass) {
          const activeClasses = activeClass.split(' ');
          if (link.getAttribute('data-page') === currentPage) {
            activeClasses.forEach(cls => link.classList.add(cls));
          } else {
            activeClasses.forEach(cls => link.classList.remove(cls));
          }
        }
      });
    }
  });
</script>
