---
import { Debug } from "astro:components";
---

<table width="100%" class="text-sm">
  <!-- <Debug hi={Astro.props} /> -->

  {
    Astro.props.postsContentful.map((post: any) => (
      <div>
        Title:{post.title}, Date: {post.publishDate}, Slug: {post.slug}
      </div>
    ))
  }
</table>
