---
import Layout from "../../layouts/Page.astro";

import Works from "../partials/works.astro";
---

<Layout>
  <h2>Contentful Posts:</h2>

  <Works />
  <!-- {
          postsContentful && (
            <ul>
              {postsContentful.map((post) => (
                <li>
                  Title:{post.title}, Date: {post.publishDate}, Slug:{" "}
                  {post.slug}
                </li>
              ))}
            </ul>
          )
        } -->
</Layout>
