---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Page.astro";

import Works from "../partials/works.astro";
import { contentfulClient, type Post } from "../../lib/contentful";

const { pathname } = Astro.url;
import { Debug } from "astro:components";
---

<Layout>
  <h2>Contentful Posts:</h2>

  <Works />
  <!-- {
          postsContentful && (
            <ul>
              {postsContentful.map((post) => (
                <li>
                  Title:{post.title}, Date: {post.publishDate}, Slug:{" "}
                  {post.slug}
                </li>
              ))}
            </ul>
          )
        } -->
</Layout>
